@font-face {
    font-family: 'Aeonik Pro';
    src: url('/global/fonts/AeonikPro-Light.otf') format('otf'),
    url('/global/fonts/AeonikPro-Light.woff') format('woff'),
    url('/global/fonts/AeonikPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('/global/fonts/AeonikPro-Regular.otf') format('otf'),
    url('/global/fonts/AeonikPro-Regular.woff') format('woff'),
    url('/global/fonts/AeonikPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('/global/fonts/AeonikPro-Medium.otf') format('otf'),
    url('/global/fonts/AeonikPro-Medium.woff') format('woff'),
    url('/global/fonts/AeonikPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro';
    src: url('/global/fonts/AeonikPro-Bold.otf') format('otf'),
    url('/global/fonts/AeonikPro-Bold.woff') format('woff'),
    url('/global/fonts/AeonikPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soyuz Grotesk';
    src: url('/global/fonts/SoyuzGrotesk-Bold.otf') format('otf'),
    url('/global/fonts/SoyuzGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Soyuz Grotesk';
    src: url('/global/fonts/SoyuzGrotesk-Bold.otf') format('otf'),
    url('/global/fonts/SoyuzGrotesk-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

